html
  head
    title= 'Guests'
  body
    h1 attending
    ul
        each item in attending
            li='name: '+item.name+' email: '+item.email+' number of guests: '+item.numberAttending
    h1 not attending
    ul
        each item in notAttending
            li='name: '+item.name+' email: '+item.email+' number of guests: '+item.numberAttending
    